@inherits VaultConfirmPasswordRazor

<div class="modal fade" id="vaultConfirmPassword" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">@label["view_password"]</h4>
      </div>
      <div class="modal-body">
        <p class="bold">@label["security_reasons_re_enter_password"]</p>
        @render_input("user_password", "", "", "password", new Dictionary<string, string>
        {
          ["data-ays-ignore"] =
            "true"
        })
        <input type="hidden" name="id" data-ays-ignore="true">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@label["close"]</button>
        <button type="submit" class="btn btn-info">@label["confirm"]</button>
      </div>
    </div>
  </div>
</div>
