<div class="app-sidebar-menu overflow-hidden flex-column-fluid">
  <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
    <div id="kt_app_sidebar_menu_scroll" class="scroll-y my-5 mx-3" data-kt-scroll="true" data-kt-scroll-activate="true"
         data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
         data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
      <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_app_sidebar_menu"
           data-kt-menu="true" data-kt-menu-expand="false">
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">dashboard</span>
          </a>
        </div>
        <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
  <span class="menu-link">
    <span class="menu-icon">@((MarkupString)Theme.GetIcon("element-11", "fs-2"))</span>
    <span class="menu-title">member_management</span>
    <span class="menu-arrow"></span>
  </span>
          <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">member_info</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link" href="?page=dashboards/ecommerce">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">member_register</span>
              </a>
            </div>
          </div>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">withdraw</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">promotion_settings</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">withdraw_deposit</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">payment_confirmation</span>
          </a>
        </div>
        <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
  <span class="menu-link">
    <span class="menu-icon">@((MarkupString)Theme.GetIcon("element-11", "fs-2"))</span>
    <span class="menu-title">banks</span>
    <span class="menu-arrow"></span>
  </span>
          <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">bank_management</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link" href="?page=dashboards/ecommerce">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">bank_transfer</span>
              </a>
            </div>
          </div>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">true_wallet</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">general_setting</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">employee</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">topup</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">modify_report</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">summary_report</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">game_management</span>
          </a>
        </div>


        <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
  <span class="menu-link">
    <span class="menu-icon">@((MarkupString)Theme.GetIcon("element-11", "fs-2"))</span>
    <span class="menu-title">game_management</span>
    <span class="menu-arrow"></span>
  </span>
          <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">game_tuanament</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link" href="?page=dashboards/ecommerce">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">game_tuanament_report</span>
              </a>
            </div>
          </div>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">coupon_system</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">จัดกลุ่มสมาชิก</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">ระบบโยกเงิน auto</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">บทความ SEO</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">ระบบ Agent</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">ระบบ SMS</span>
          </a>
        </div>

        <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
  <span class="menu-link">
    <span class="menu-icon">@((MarkupString)Theme.GetIcon("element-11", "fs-2"))</span>
    <span class="menu-title">ระบบจัดการหวย</span>
    <span class="menu-arrow"></span>
  </span>
          <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">ตั้งค่าเลขอั้น</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link" href="?page=dashboards/ecommerce">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">เลขรับกิน</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link" href="?page=dashboards/ecommerce">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">เลขรับกิน</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link" href="?page=dashboards/ecommerce">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">ยอดค้างเดิมพันสมาชิก</span>
              </a>
            </div>
          </div>
        </div>

        <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
  <span class="menu-link">
    <span class="menu-icon">@((MarkupString)Theme.GetIcon("element-11", "fs-2"))</span>
    <span class="menu-title">ตั้งค่าวงล้อ</span>
    <span class="menu-arrow"></span>
  </span>
          <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">รายงานหมุนรางวัล</span>
              </a>
            </div>
          </div>
        </div>


        <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
  <span class="menu-link">
    <span class="menu-icon">@((MarkupString)Theme.GetIcon("element-11", "fs-2"))</span>
    <span class="menu-title">ตั้งค่าเช็คอิน</span>
    <span class="menu-arrow"></span>
  </span>
          <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">ตั้งค่าเช็คอิน</span>
              </a>
            </div>
          </div>
          <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">รายงานเช็คอิน</span>
              </a>
            </div>
          </div>
        </div>


        <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
  <span class="menu-link">
    <span class="menu-icon">@((MarkupString)Theme.GetIcon("element-11", "fs-2"))</span>
    <span class="menu-title">ตั้งค่าเซียน</span>
    <span class="menu-arrow"></span>
  </span>
          <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">ตั้งค่า Roling Round</span>
              </a>
            </div>
          </div>
          <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">ตั้งค่าระบบเซียน</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">จัดการเซียน</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">รายงานการให้เครดิต</span>
              </a>
            </div>
          </div>
        </div>

        <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
  <span class="menu-link">
    <span class="menu-icon">@((MarkupString)Theme.GetIcon("element-11", "fs-2"))</span>
    <span class="menu-title">พันธมิตร</span>
    <span class="menu-arrow"></span>
  </span>
          <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">ข้อมูลพัธมิตร</span>
              </a>
            </div>
          </div>
          <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">ตั้งค่าระบบเซียน</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">คำนวณรายได้</span>
              </a>
            </div>
          </div>
        </div>


        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">จัดการคะแนน</span>
          </a>
        </div>


        <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
  <span class="menu-link">
    <span class="menu-icon">@((MarkupString)Theme.GetIcon("element-11", "fs-2"))</span>
    <span class="menu-title">ตั้งค่าระบบ Rank</span>
    <span class="menu-arrow"></span>
  </span>
          <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">ตรวจสอบ Rank</span>
              </a>
            </div>
          </div>
          <div class="menu-sub menu-sub-accordion">
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">ตั้งค่า Rank</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">สูงสุด 50</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link active" href="?page=index">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
                <span class="menu-title">รายงานการรับรางวัล Rank</span>
              </a>
            </div>
          </div>
        </div>


        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">ระบบปรับแตก</span>
          </a>
        </div>


        <div class="menu-item">
          <a class="menu-link" href="#" target="_blank">
            <span class="menu-icon">@((MarkupString)Theme.GetIcon("code", "fs-2"))</span>
            <span class="menu-title">ตั้งค่าคืนยอดเสีย</span>
          </a>
        </div>


      </div>
    </div>
  </div>
</div>
